In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('movies.csv', index_col=0, delimiter=',')
myfam = pd.DataFrame(data)

In [3]:
data

        Bird Box  The Woman King  Top Gun: Maverick  Lou  Black Panther
Athiou       5.0             5.0                4.5  4.5            5.0
Coco         4.5             4.0                5.0  4.5            4.5
Faty         4.0             4.5                5.0  4.5            5.0
Saouma       5.0             4.0                5.0  5.0            5.0
Dedi         5.0             5.0                2.5  5.0            4.0

Now that I have my data loaded in the dataframe I can go ahead get my averages. I will also want to put into a new row by using loc as you can see below. Lastly I replace the NaN's with blanks as shown in the example problem.

In [4]:
myfam.loc['mean'] = myfam.mean()
myfam.replace(np.nan, '', regex=True)

        Bird Box  The Woman King  Top Gun: Maverick  Lou  Black Panther
Athiou       5.0             5.0                4.5  4.5            5.0
Coco         4.5             4.0                5.0  4.5            4.5
Faty         4.0             4.5                5.0  4.5            5.0
Saouma       5.0             4.0                5.0  5.0            5.0
Dedi         5.0             5.0                2.5  5.0            4.0
mean         4.7             4.5                4.4  4.7            4.7

Average rating for each user

In [5]:
myfam.mean()

Bird Box             4.7
The Woman King       4.5
Top Gun: Maverick    4.4
Lou                  4.7
Black Panther        4.7
dtype: float64

Here, I will find the average rating for each person.

In [8]:
myfam.mean(axis=1)

Athiou    4.8
Coco      4.5
Faty      4.6
Saouma    4.8
Dedi      4.3
mean      4.6
dtype: float64

As you can see the mean is added as the last row fully calculated. Next step is to perform a normalization on the data.

In [9]:
myfam_norm = (myfam - myfam.min()) / (myfam.max() - myfam.min())
myfam_norm.replace(np.nan, '', regex=True)

        Bird Box  The Woman King  Top Gun: Maverick  Lou  Black Panther
Athiou       1.0             1.0               0.80  0.0            1.0
Coco         0.5             0.0               1.00  0.0            0.5
Faty         0.0             0.5               1.00  0.0            1.0
Saouma       1.0             0.0               1.00  1.0            1.0
Dedi         1.0             1.0               0.00  1.0            0.0
mean         0.7             0.5               0.76  0.4            0.7

Or I can pivot transpose the information this way

In [10]:
ratings_norm = ((myfam - myfam.min()) / (myfam.max() - myfam.min())).transpose()
ratings_norm

                   Athiou  Coco  Faty  Saouma  Dedi  mean
Bird Box              1.0   0.5   0.0     1.0   1.0  0.70
The Woman King        1.0   0.0   0.5     0.0   1.0  0.50
Top Gun: Maverick     0.8   1.0   1.0     1.0   0.0  0.76
Lou                   0.0   0.0   0.0     1.0   1.0  0.40
Black Panther         1.0   0.5   1.0     1.0   0.0  0.70

Average by user

In [11]:
ratings_norm.mean(axis=1)

Bird Box             0.70
The Woman King       0.50
Top Gun: Maverick    0.76
Lou                  0.40
Black Panther        0.70
dtype: float64

Average by movie

In [12]:
mov_norm = pd.Series(ratings_norm.mean())
mov_norm

Athiou    0.760
Coco      0.400
Faty      0.500
Saouma    0.800
Dedi      0.600
mean      0.612
dtype: float64

In conclusion, this data set has some advantages and disadvantages on using normalization. The normalized rating has advantage since a low or high rating by one single user won't have much of an effect. Perhaps normalizing would be useful if the ratings were done on a scale of 1-10 and most ratings were under 5, leaving some data far out of the 'normal' range.